/* TiltCard */
.card {
  perspective: 1000px;
  /*transform:rotateX(20deg) rotateY(-15deg); Inclinación*/
  transform-style: preserve-3d;
	transition: all 0.5s ease-out;
  perspective: 1000px;
}

.card:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 40px rgb(206, 48, 48) inset, 0px 0px 30px white;
  transition: all 0.5s linear;
}


/* CardImg */
.customImg {
    width: 20vw;
    height: auto;
    min-width: 200px;
    min-height: 100px;
}

.wrapper {
    overflow: hidden;
}

.wrapper img {
    opacity: 0.65;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.wrapper img:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 500ms ease-in-out;
}


/* CartTitle */
.customTitle {
    font-family: PokeSolid, Roboto; 
    font-size: 1.5rem; 
    letter-spacing: 5px !important;
    color: rgb(255, 189, 21);
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 00px 0px 25px rgb(140, 0, 255) inset;
    background-color: rgb(0, 132, 255);
}


/* PAGE BUTTONS */
.button-oldSchool {
  align-items: center;
  background-color: #f8db70;
  border: 2px solid rgb(27, 27, 27);
  border-radius: 8px;
  width: 120px;
  height: 48px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  font-family: PokeSolid,sans-serif;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-oldSchool:after {
  background-color: rgb(226, 226, 226);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  transition: transform 80ms ease-in;
  z-index: -1;
}

.button-oldSchool:hover:after {
    transform: translate(8px, 8px);
}

.button-oldSchool:active {
  background-color: #f3cc20;
  border: 2px solid rgb(202, 153, 153);
  outline: 0;
}

.button-oldSchool:active:after {
    transform: translate(-0, -0);
}

.button-oldSchool:hover {
    color:black;
    outline: 0;
}

@media (min-width: 768px) {
  .button-oldSchool {
    padding: 0 40px;
  }
}

/* AnimatedCSS */ 

.customAnimationTitle { 
    animation: zoomInDown;
    animation-duration: 1.5s; 
}


.customAnimationImg {
    animation: jackInTheBox; 
    animation-duration: 1.5s; 
}

